<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constq.demo.mapper.MenuMapper">
	<select id="findAllMenu" resultType="com.constq.demo.pojo.Menu">
		select * from t_Menu order by sort desc
	</select>
	<select id="findAllMenuByPage" resultType="com.constq.demo.pojo.Menu" parameterType="com.constq.demo.pojo.Page">
		select a.* from (select rownum as b , t_Menu.* from t_Menu)a where a.b between #{start} and #{end}
	</select>
	<select id="getTotal" resultType="int">
		select count(*) from t_Menu
	</select>
	<update id="updateMenu" parameterType="com.constq.demo.pojo.Menu">
		update t_Menu set name=#{name},password=#{password} where id = #{id}
	</update>
	<insert id="addMenu" parameterType="com.constq.demo.pojo.Menu">
		insert into t_Menu(id,name,password) values (#{id},#{name},#{password})
	</insert>
	<delete id="deleteMenuById"  parameterType="java.lang.String">
		delete from t_Menu where id=#{id}
	</delete>
	
</mapper>