<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constq.demo.mapper.WordMapper">
	<select id="findAllWord" resultType="com.constq.demo.pojo.Word">
		select * from t_word
	</select>
	<select id="findAllWordByPage" resultType="com.constq.demo.pojo.Word" parameterType="com.constq.demo.pojo.Page">
		select a.* from (select rownum as b , t_word.* from t_word)a where a.b between #{start} and #{end}
	</select>
	<select id="getTotal" resultType="int">
		select count(*) from t_word
	</select>
	<update id="updateWord" parameterType="com.constq.demo.pojo.Word">
		update t_word set english=#{english},chinese=#{chinese},type=#{type},type_name=#{type_name},rank=#{rank} where id = #{id}
	</update>
	<insert id="addWord" parameterType="com.constq.demo.pojo.Word">
		insert into t_word(english,chinese,type,type_name,rank) values (#{english},#{chinese},#{type},#{type_name},#{rank})
	</insert>
	<delete id="deleteWordById"  parameterType="int">
		delete from t_word where id=#{id}
	</delete>
	
</mapper>